<nav_bar></nav_bar>
<div class="maintext">
    <h1>Delivery to your Doorstep.</h1>
    <h2>You must be hungry!</h2>
    <div class="searchResults" ng-controller="searchRes">
        <input type="text" id="tags" placeholder="Enter your city" />
        <button type="button" class="btn btn-default btn-circle" onclick="city_redirect()">GO</button>
        <input type="hidden" id="selected_city_id" />
        <div ng-repeat='info in location1' ng-model='location1'>
                <li><a ng-href="#!/city/{{info.id}}">{{info.name}}</a></li>
        </div>
    </div>
</div>
<modal-text></modal-text>
