.logo{
    border: 0;
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
}
.navbar-brand 
{
    padding-top: 0;
    margin-right: 10px;
}
.maintext{
    margin-top: 19%;
    margin-left:20px;
}
body{
    
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F3F3;
   
}
.transparent{
        background-color: rgba(255,255,255,0.39) !important;
}
.container1{
     background-image: url("/templates/eaters-collective-132773.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#address{
    width: 218px;
    height: 28px;
    appearance: none;
    margin-left: 4px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  background-color: #25B7D3;
  color: white;
}
.btn-circle.btn-lg {
  width: 35px;
  height: 35px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 25px;
}
.modal-header{
    padding-bottom: inherit;
}
.left{
    float: left;
    margin: 10px;
    width: 400px;
    padding: 3px;
}
.navbar{
    position: relative;
}

#map{
    height:400px;!important
    width: auto;!important
    display:block;!important
    max-height: auto;!important
}

#map img{
    max-height: none;
}
.featured_image{
    height: 500px; 
    width:600px;
}
.restaurant{
    background-color: #F1F5F1;
    
}
.restauranttext{
    font-weight:bold;
    font-size: 14px;
}

.float_button {
    text-align: right;
}
.restauranttitle{
    background-color: #FAFAFA;
    border-bottom: 3px solid #E7E7E8;
    padding-left: 40px;
    margin-top: 0px;
}
.rating_button{
    display: inline-block;
    clear: left;
    margin-right: inherit;
}
.picture{
    text-align: center;
    margin-top: auto;
}
.resNavBar {
    background-color: #FFF;
    width: 90%;
    margin: 0 auto;
    
}
.restaurantReviews{
    list-style: none;
    padding: 10px;
}
.restaurantReviews li:nth-child(even){
    background-color: #F3F3F3;
}
.restaurantReviews li{
    padding: 10px;
}
.restaurantoverview {
   list-style: none;
    padding: 10px;
} 
.restaurantoverview li{
    padding: 5px;   
}
/*
.restaurantoverview li:nth-child(even){
   background-color: #F3F3F3; 
}
*/
.restaurantmenu {
    padding: 10px;
}
.nav-item .active {
    background-color: #eee;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
  margin: 0 auto;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
}