<nav_bar></nav_bar>
<div class="maintext">
    <h1>Delivery to your Doorstep.</h1>
    <h2>You must be hungry!</h2>
    <div class="searchResults" ng-controller="searchRes">
        <input type="text" id="address" ng-keypress="enter($event)" placeholder="Enter your city" /><button type="button" class="btn btn-default btn-circle">GO</button>
        <div ng-repeat='info in location1' ng-model='location1'>
            <ul>
                <li><a ng-href="#!/city/{{info.id}}">{{info.name}},{{info.country_name}}</a></li>
            </ul>
        </div>
    </div>
</div>
<modal-text></modal-text>
