<body>
    <nav_bar></nav_bar>
    <div class="contact_details">
        <div class="ready_for_happiness">
            <h2>Ready for Happiness?</h2>
            <h3>A few more details to finish up</h3>
        </div>
        <div class="checkoutDetails">
            <div class="checkoutContact mlt10 col-xs-6">
                <h3>Contact Details:</h3>
                <input type="text" placeholder="Full Name" maxlength="50">
                <input type="number" placeholder="Phone Number">
            </div>
            <div class="checkoutAddress mlt10 col-xs-6">
                <h3>Address:</h3>
                <input type="text" placeholder="Address line 1">
                <input type="text" placeholder="Apt or Suite.">
                <input type="text" placeholder="City">
                <select name="dropdown" id="stateOption">
    <option ng-repeat= "state in states">{{state}}</option>
</select>
                <input type="number" placeholder="ZipCode" maxlength="6">
            </div>
            <div class="checkoutBilling mlt10 col-xs-6">
                <h3>Billing Details:</h3>
                <input type="text" placeholder="Name On Card" maxlength="50">
                <input type="number" placeholder="Card Number">
                <input type="password" placeholder="CVV" maxlength="3">
                <input name="startDate" id="startDate" class="date-picker" placeholder="Expiry Date" />
            </div>
        </div>
        <button class="button_style" type="submit"><a ng-href="#!/progress" class="checkout_button">CHECK OUT</a></button>
    </div>
    <div class="yourBag_background">
        <div class="YourBag">
            <div class="well">
                <h2>Your Bag</h2>
                <hr>
                <div>
                    <div class="selected_bag col-xs-12" ng-repeat="dishes in selected_dishes">
                        {{dishes.dish_name}}:{{dishes.dish_price}} $
                    </div>
                    <hr/><h3>Total: {{ getTotal() }} $</h3>
                </div>
            </div>
        </div>
    </div>
</body>
