<h1>This is La</h1>
<div class="col-md-8 col-md-offset-2 transparent">
    <table class="table table-striped table-bordered table-compressed">
        <thead id="table-header">
            <tr>
                <h1>Restaurants</h1>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Name</th>
                <th>Cusinie</th>
                <th>Price Range</th>
                <th>Location</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody ng-repeat='info in restaurants' >
            <tr class="transparent">
                <td><a href="{{info.restaurant.url}}">{{info.restaurant.name}}</a></td>
                <td>{{info.restaurant.cuisines}}</td>
                <td>{{info.restaurant.price_range}}</td>
                <td>{{info.restaurant.location.address+","+info.restaurant.location.locality+","+info.restaurant.location.city}}</td>
                <td>{{info.restaurant.user_rating.rating_text +" "+ info.restaurant.user_rating.aggregate_rating}}</td>
            </tr>
        </tbody>

    </table>
</div>