<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Sign In</h2>
                </div>
                <div class="modal-body">
                    <form action="get">
                        <label for="email"><b>Email (Phone for mobile accounts)</b></label> <br>
                        <input class="forminput" type="email" />
                        <br/>
                        <label for="password"><b>Password</b></label><a href="" style="margin-left: 8px;">Forgot your password?</a><br/>
                        <input class="forminput" clear="both" type="password" />
                        <button class="btn btn-primary btn-circle btn-lg">Go</button><br>
                        <input type="checkbox" /><label>Keep me signed in. </label><a href="">Details</a><br><br>
                    </form>
                </div>
                <div class="modal-footer">
                    <fieldset>
                        <legend>New to DevFood?</legend>
                        <input class="amazonbutton" type="submit" value="Create your DevFoods account">
                    </fieldset>
                </div>
            </div>

        </div>
    </div>