<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo" src="https://cdn0.iconfinder.com/data/icons/kameleon-free-pack-rounded/110/Food-Dome-256.png" alt="logo"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <input type="text" placeholder="Search" ng-model="search" class="left">
                    <li><a href="#">Home</a></li>
                    <li class="active">
                        <a href="#login">
                            <div data-toggle="modal" data-target="#myModal">Login</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

   <div class="ProgressBar">
    <div class="tracker" style=" border: 1px solid #c3c3c3;
    display: -webkit-flex;
    -webkit-justify-content: space-around;">
        <div class="">Order Confirmation</div>
        <div class="">Making</div>
        <div class="">Packing</div>
        <div class="">Driver Pick up</div>
        <div class="">Delivered</div>
    </div>
    <div id="myProgress">
        <div id="myBar"></div>
    </div>
</div>
<div id="ShowText">
   <h1> Making The Calls.</h1>
</div>
