<body class="progress_style">
<nav_bar></nav_bar>
   <div style="margin-top:10%">
    <div class="well">
        <div class="ProgressBar">
            <div class="tracker" style=" border: 1px solid #c3c3c3;
    display: -webkit-flex;
    -webkit-justify-content: space-around;">
                <div class="">Order Confirmation</div>
                <div class="">Making</div>
                <div class="">Packing</div>
                <div class="">Driver Pick up</div>
                <div class="">Delivered</div>
            </div>
            <div id="myProgress">
                <div id="myBar"></div>
            </div>
        </div>
        <div id="ShowText">
             Making The Calls
        </div>
    </div>
    </div>
</body>
