<body>
   <nav_bar></nav_bar>
    <div class="restauranttext">

        <div class="picture">
            <img class="featuredimage" ng-src='{{details.featured_image}}'>
        </div>
        <div class="All_restaurant">
            <div class="restauranttitle row">
                <div class="">
                    <h1 style="margin-top: 10px; margin-bottom: 10px;">{{details.name}}</h1>
                </div>
                <div class="res_address">{{details.location.address}}</div>
                <div class=" float_button col-xs-6" style="padding-right: 0px; padding-left: 0px; margin-top: -53px; margin-right: 4px; float: right;">
                    <button type="button" class="btn btn-success btn-lg rating_button" style="margin-left: 10px;">{{details.user_rating.aggregate_rating}} / 5</button>
                </div>
            </div>

            <br>
            <div class="resNavBar">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link {{overview ? 'active' : ''}} resNavItem" ng-click="displayoverview()" style="color:black; border: 1px solid #efefef;">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{review ? 'active' : ''}} resNavItem" ng-click="displayreview()" style="color:black; border: 1px solid #efefef;">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{menu ? 'active' : ''}} resNavItem" ng-click="displaymenu()" style="color:black; border: 1px solid #efefef;">Menu</a>
                    </li>
                </ul>


                <div ng-show="overview" class="restaurantoverview row"><br>

                    <div class="f_left col-xs-6">
                        <div class="lab">Address:</div> <span class="res_address">{{details.location.address}}</span></div>
                    <div class="f_left col-xs-5">
                        <div class="lab">Cusinies:</div><span class="res_address">{{details.cuisines}}</span></div>
                    <div class="f_left col-xs-6">
                    <div class="lab">Cost for two:</div><span class="res_address"> {{details.average_cost_for_two}}$</span></div>
                    <div class="f_left col-xs-5">
                        <div class="lab">Price Range:</div><span class="res_address">{{details.price_range}}/5</span></div>
                    <div class="f_left col-xs-6">
                        <div class="lab">Rating:</div><span class="res_address">{{details.user_rating.rating_text}}, {{details.user_rating.aggregate_rating}}</span></div>
                    <div class="f_left col-xs-5">
                        <div class="lab">Delivery Online:</div><span class="res_address">Yes</span></div>
                    <div class="f_left col-xs-6">
                        <div class="lab">Delivering now: </div><span class="res_address">Yes</span></div>

                </div>


                <div ng-show="review">
                    <ul class="restaurantReviews">
                        <li ng-repeat="col in collection">{{col.review.user.name}}:<br><div class="restuarant_review_rating">{{col.review.rating_text}}</div>{{col.review.review_text}}
                        </li>
                    </ul>
                </div>


                <div class="restaurantmenu row" ng-show="menu">
                    <div id="loader"></div>
                    <div id="myDiv">
                        <div ng-repeat="(cuisine, dishes) in menucontent" class="restaurantMenu col-xs-5">

                            <div id="dishes">
                                <h1>{{cuisine}}</h1>
                                <div div ng-repeat="dish in dishes">
                                    <input type="checkbox" class="checkboxes" ng-click="toggleSelection()" ng-model="dish.quantity">
                                    <label>
                        {{dish.dish_name}}:{{dish.dish_price}}$</label>
                                </div>
                            </div>
                        </div>
                        <div class="selectedDishes col-xs-8">
                            <button type="submit" ng-click="toggleselection()">CHECKOUT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
